nameOverride: ""
fullnameOverride: ""

prometheus:
  enabled: true
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 5Gi
    resources:
      requests:
        memory: 1Gi
        cpu: 500m
      limits:
        memory: 1.5Gi
        cpu: 700m
    retention: 10d
    retentionSize: "4Gi"
    podMonitorSelector: {}
    serviceMonitorSelector: {}
    serviceMonitorNamespaceSelector: {}
  additionalServiceMonitors:
  - name: "app"
    selector:
      matchLabels:
        metrics: "true"
    namespaceSelector:
      any: true
    endpoints:
      - port: "http"
        interval: 30s
        path: /metrics

grafana:
  enabled: true
  adminPassword: "admin"
  persistence:
    enabled: true
    size: 5Gi
    accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
    limits:
      memory: 512Mi
      cpu: 500m
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
      - name: 'default'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/default

prometheusOperator:
  enabled: true
  crds:
    enabled: false
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
    limits:
      memory: 512Mi
      cpu: 500m

kubeEtcd:
  enabled: false

kubeControllerManager:
  enabled: false

kubeScheduler:
  enabled: false

nodeExporter:
  enabled: true

kube-state-metrics:
  enabled: true

serviceAccounts:
  create: true
  automount: true
